<section class="vh-100 gradient-custom">
  <div class=" form-group container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase main-text mb-3">Employers Form</h2>


              <div class="form-outline form-white mb-4">
                <form [formGroup]="employers">

                  <!-- ID -->
                  <div class=" row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="example-full-width col-md-12">
                        <mat-label> Employer ID</mat-label>
                        <input matInput formControlName="id" type="number">
                        <mat-error *ngIf="employers.controls['id'].hasError('required')" style="color:red;">
                          Employer ID is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- Name -->
                  <div class=" row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="example-full-width col-md-12">
                        <mat-label>Employer Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="employers.controls['name'].hasError('required')" style="color:red;">
                          Employer name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- Dep  -->
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="example-full-width col-md-12">
                        <mat-label> Department Number</mat-label>
                        <input matInput formControlName="depNumber" type="number">
                        <mat-error *ngIf="employers.controls['depNumber'].hasError('required')" style="color:red;">
                          Department number is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- Birth  -->
                  <div class=" row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="example-full-width col-md-12">
                        <mat-label> Bithdate</mat-label>
                        <input matInput [max]="maxBirth" formControlName="birthDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
                        <mat-datepicker #picker> </mat-datepicker>

                      </mat-form-field>
                    </div>
                  </div>


                  <!-- Salary  -->
                  <div class=" row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="example-full-width col-md-12">
                        <mat-label> Salary</mat-label>
                        <input matInput formControlName="salary" type="number">
                        <mat-error *ngIf="employers.controls['salary'].hasError('required')" style="color:red;">
                          Salary is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- Birth  -->
                  <div class=" row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="example-full-width col-md-12">
                        <mat-label> Start-work date</mat-label>
                        <input matInput [max]="maxDate" formControlName="startWork" [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
                        <mat-datepicker #picker1> </mat-datepicker>

                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>
              <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

              <button class="btn btn-primary btn-lg px-5" [disabled]="!employers.valid" (click)="submit()" type="submit">Add Employee</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #callDialog>
  <mat-dialog-content class="mat-typography">
    <img src="../../assets/check.jpg" class="img-fluid" width="200" height="200">
    <h2 class=" mb-2 text-uppercase  mb-3">Added Successfully</h2>

</mat-dialog-content>
</ng-template>